<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проекты и задачи</title>
    <link rel="stylesheet" href="frontend/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <form action="/create_project/{{ user_id }}">
            <button class="add-project">+ Добавить проект</button>
            </form>
            {% if hideprojects == 0 %}
            <a href="/hideprojects/{{ user_id }}"><span class="hide-completed">Скрыть завершенные</span></a>
            {% endif %}
            {% if hideprojects == 1 %}
            <a href="/hideprojects/{{ user_id }}"><span class="hide-completed">Показать завершенные</span></a>
            {% endif %}
            <img src="frontend/img/sunset.svg" alt="Sun Icon" class="sun-icon">
        </header>

        <main>
            {% for project in projects %}
            <div class="project">
                <div class="project-header">
                    {% if project.done == 0 %}
                    <img src="frontend/img/no.svg" alt="Complete" class="hide-icon">
                    {% endif %}
                    {% if project.done == 1 %}
                    <img src="frontend/img/check-circle.svg" alt="Complete" class="hide-icon">
                    {% endif %}
                    <button class="edit-button" onclick="show_edit_func('{{ project.id }}Edit')"></button>
                    <form action="/editprojectname/{{ user_id }}/{{ project.id }}">
                    <h2>{{ project.name }}</h2>
                        <input class="edit-field" type="text" id="{{ project.id }}Edit" name="newname">
                        <button class="edit-field" id="{{ project.id }}EditButton">Сохранить</button>
                    </form>
                    <div class="project-actions">
                        <form action="/hidetasks/{{ user_id }}/{{ project.id }}">
                        <button class="open-button"></button>
                        </form>
                        <form action="/deleteproject/{{ user_id }}/{{ project.id }}">
                        <button class="delete-button"></button>
                        </form>
                    </div>
                </div>
                {% if project.hidden == 0 %}
                <form action="/create_task/{{user_id}}/{{project.id}}">
                <button class="add-task">+ Добавить задачу</button>
                </form>
                {% for task in tasks %}
                {% if task.project_id == project.id %}
                <div class="task">
                    {% if task.done == 0 %}
                    <form action="/taskdone/{{ user_id }}/{{ project.id }}/{{ task.id }}"><button class="unchecked-box"></button></form>
                    {% endif %}
                    {% if task.done == 1 %}
                    <form action="/taskdone/{{ user_id }}/{{ project.id }}/{{ task.id }}"><button class="checked-box"></button></form>
                    {% endif %}
                    <span>{{ task.description }}</span>
                    <div class="task-actions">
                        <form action="/edittaskdesc/{{user_id}}/{{project.id}}/{{task.id}}">
                        <input class="edit-field" type="text" id="{{ task.id }}Edit" name="newdesc">
                        <button class="edit-field" id="{{ task.id }}EditButton">Сохранить</button>
                        </form>
                        <button class="edit-button" onclick="show_edit_func('{{ task.id }}Edit')"></button>
                        <form action="/deletetask/{{ user_id }}/{{ project.id }}/{{ task.id }}">
                            <button class="delete-button"></button>
                        </form>

                    </div>
                </div>
                {% endif %}
                <script>
                show_edit_func = function(id) {
                    save_button = document.getElementById(id + 'Button')
                    edit_field = document.getElementById(id)
                    edit_field.classList.toggle('shown')
                    save_button.classList.toggle('shown')
                }

                </script>
                {% endfor %}
                {% endif %}
            </div>


            {% endfor %}
            <div>Пользователь с id {{ user_id }}</div>

        </main>
    </div>
</body>
</html>